
.header-container{
	display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.header-item-a{ 
align-self: center;
text-align: left;

}

.header-item-b {
  text-align: center;
}

.header-item-c {
align-self:center;
text-align: right;
}

.content-container {
	display: grid;
	grid-template-columns:15% auto auto;
}
	
.content-item-a {

height: 90vh;
overflow-y: auto;
}

.content-item-b {
height: 90vh;
overflow-y: auto;
}

.content-item-c {
height: 90vh;
overflow-y: auto;
	
}

